body
{
	font-family: cursive;
}		
#rojoColor
{
	background-color: #DD1C1C;
}
#cafe
{
	background-color: #51391B;
}
#azul
{
	background-color: #2543CF;
}
#naranja
{
	background-color: #FBBA0E;
}
#amarillo
{
	background-color: #FBF00E;
}
#morado
{
	background-color: #9B0EFB;
}
